.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  text-align: center;
}

.nav-btn {
  border: none;
  // border: 1px solid black;
  background-color: $color-primary;
  height: 4rem;
  margin-top: 5rem;
  outline: none;
  display: inline-block;
  cursor: pointer;

  &__icon {
    border: none;
    width: 5rem;
    height: 5px;
    position: relative;
    background-color: $color-grey-light-1;
    outline: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 5rem;
      height: 5px;
      background-color: $color-grey-light-1;
      transition: 0.2s;
      left: 0;
    }

    &::before {
      top: -1.5rem;
    }
    &::after {
      content: '';
      top: 1.5rem;
    }
  }

  &:hover &__icon::after {
    top: 2rem;
  }
  &:hover &__icon::before {
    top: -2rem;
  }

  &:focus &__icon {
    background-color: $color-primary;
  }
  &:focus &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &:focus &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
