.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  text-align: center;
}

.nav-btn {
  border: none;

  margin-top: 5rem;
  outline: none;
  display: inline-block;
  cursor: pointer;

  &__icon {
    border: none;
    width: 5rem;
    height: 5px;
    position: relative;
    background-color: $color-grey-light-1;
    outline: none;
    opacity: 1;

    &::before {
      content: '';
      position: absolute;
      width: 5rem;
      height: 5px;
      top: -1.5rem;
      left: 0;
      background-color: $color-grey-light-1;
      transition: 0.2s;
    }
    &::after {
      content: '';
      position: absolute;
      width: 5rem;
      height: 5px;
      top: 1.5rem;
      background-color: $color-grey-light-1;
      left: 0;
      transition: 0.2s;
    }
  }

  &:hover &__icon::after {
    top: 2rem;
  }
  &:hover &__icon::before {
    top: -2rem;
  }

  &:active &__icon {
    opacity: 0;
  }
}
